body {
  background-color: rgb(224, 224, 224);
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  box-sizing: content-box;
}

h1 {
  text-align: start;
  margin-left: 20px;
  font-size: 20px;
  border-radius: 2%;
  color: black;
}

.button {
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 1px 5px 5px 5px rgb(208, 208, 208);
  background-color: white;
  border-style: none;
}

.button:hover {
  color: black;
  border-radius: 10px;
  box-shadow: 1px 5px 5px 5px rgb(208, 208, 208);
  background-color: white;
}

li {
  text-align: start;
  list-style-image: url(/images/bullet.png);
}

/* entête */

.header {
  background-color: white;
  background-size: cover;
  width: auto;
  padding: 10px 10px;
  box-shadow: 0px 5px rgb(175, 175, 175);
}

div.container {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  margin-left: 37%;
  color: black;
}

/* boutton envoie sur github */

.access {
  float: right;
  margin-right: 20px;
  margin-top: -50px;
  background-color: red;
  color: white;
  font-weight: bolder;
  font-size: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 0 20px;
  border-style: none;
}

/* Header */

header {
  z-index: 2;
  position: fixed;

}

/* paragraphe présentation charte */

.github {
  margin-top: 10%;
}

/* boutton de fin random apprenant */

.fin {
  background-color: red;
  color: white;
  font-weight: bolder;
  font-size: 10px;
  border-radius: 10px;
  padding: 0 20px;
  border-style: none;
  margin-left: 40%;
}

/* container de code */

.code {
  font-size: 15px;
  text-align: start;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  color: black;
  box-sizing: border-box;
  box-sizing: border-box;
  border: solid #5B6DCD 1px;
  text-align: left;
}

/* Texte présentation du code */

.texteCode {
  font-size: 20px;
}